pkgbase = jacartauc
	pkgdesc = JaCarta Unified Client
	pkgver = 3.1.1.3473
	pkgrel = 1
	url = https://www.aladdin-rd.ru/support/downloads/jacarta/
	install = jacartauc.install
	arch = x86_64
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrender
	depends = pango
	depends = pcsclite
	depends = systemd-libs
	depends = zlib
	options = !strip
	source = https://www.aladdin-rd.ru/upload/downloads/JaCarta_UC/jacarta-3.1/lunix/distributions/jacartauc_3.1.1.3473_rpm_x64.zip
	sha256sums = d845f773aeac42497a6964cc637c0ff045d138c184d5bd15468c49cf900b507e

pkgname = jacartauc
